cloud_id                 = "1234"
folder_id                = "67890"
zone                     = "ru-central1-a"
public_key_path          = "~/.ssh/appuser.pub"
subnet_id                = "999999999999999"
service_account_key_file = "key.json"
private_key_path         = "~/.ssh/appuser"
ssh_user                 = "ubuntu"
